doctype html
html(lang="en")
  head
    title Mine Sweeper
    link(rel="stylesheet" href="css/styles.css")
  body
    div(id="index-container")
      div(id="index-gameTimeContainer")
        div(id="index-timing" ng-controller="timingController")
          div(ng-include="templateUri")
        div(id="index-game" ng-controller="gameController")
          div(ng-include="templateUri")
      div(id="index-boardContainer")
        div(id="index-board" ng-controller="mineSweeperBoardController")
          div(ng-include="templateUri")
    script(data-main="js/main" src="js/lib/requirejs/require.js")
