@import url('/css/mineSweeperBoard.css');
@import url('/css/timing.css');
@import url('/css/game.css');


#index-board {
    margin: 0, auto;
    border-color: #000000;
    border-width: 5px;
    border-style: solid;
    border-collapse: collapse;
    
}

#index-boardContainer {
    position: relative;
    background-color: #FA5858;
}

#index-container {
    background-color: #F5D0A9;
    padding: 10px;
    border-color: #000000;
    border-width: 5px;
    border-style: solid;
    border-collapse: collapse;
}

#index-game {
    background-color: #2EFE9A;
}

#index-gameTimeContainer {
    position: relative;
    border-color: #000000;
    border-width: 5px;
    border-style: solid;
    border-collapse: collapse;
}

#index-timing {
    position: absolute;
    width: 150px;
    height: 50px;
    right: 0px;
    top: 20%%;
    background-color: #045FB4;
}
